
{{!-- Header Partial --}}

<!DOCTYPE html>
<html lang='en'>
  <title>Career Portal Frontend</title>
  <link rel='shortcut icon' href='/images/Career.svg' type='image/x-icon' />
  <link rel='stylesheet' href='/style.css' />
  <link
    rel='stylesheet'
    href='https://use.fontawesome.com/releases/v5.12.0/css/all.css'
  />

  <script src='/feather-icons/dist/feather.min.js'></script>

  <body>