{{!-- Footer Partial --}}

    <footer>
      <ul class='footer_links'>
        <a href=''>
          <li class='footer_links-1'>Our partners</li>
        </a>
        <a href=''>
          <li class='footer_links-2'>Feedback</li>
        </a>
        <a href=''>
          <li class='footer_links-3'>Report an issue</li>
        </a>
        <a href=''>
          <li class='footer_links-4'>Follow us</li>
        </a>
      </ul>

      <p class='footer_copyright'>&copy; Copyright 20-21</p>
    </footer>

    <script>
      feather.replace();
    </script>
  </body>
</html>