
{{> header}}

{{> navbar}}

    <!-- Employee Secttion -->

    <section class="employee">
      <h1 class="heading_pink">Hire</h1>
      <div class="employee_container">
        <div class="employee_searchbar">
          <div class='navbar_search'>
          <input
            type='text'
            name='search-bar'
            placeholder='Search...'
            maxlength='15'
            class="employee_container-search"
            
          />
          <a href=''><i
              data-feather='search'
              class='navbar_search-icon'
            ></i></a>
      </div>
      <div class="employee_filter">
        <!-- to be implemented -->
      </div>
        </div>
        <div class="employee_list">
          <div class="employee_list-item box_shadow">
            <div class="employee_overview">
              <img src="" alt="" class="employee_image">
              <div class="employee_detail">
                <h2 class="heading">Name</h2>
                <p class="paragraph_grey employee_desc">Description</p>
                <p class="paragraph_grey employee_skill">Web development</p>
              </div>
              </div>
            <div class="employee_option">
              <button class="button_rect-small">Hire</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div>
          <div class="employee_list-item box_shadow">
            <div class="employee_overview">
              <img src="" alt="" class="employee_image">
              <div class="employee_detail">
                <h2 class="heading">Name</h2>
                <p class="paragraph_grey employee_desc">Description</p>
                <p class="paragraph_grey employee_skill">Web development</p>
              </div>
              </div>
            <div class="employee_option">
              <button class="button_rect-small">Hire</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div>
          <div class="employee_list-item box_shadow">
            <div class="employee_overview">
              <img src="" alt="" class="employee_image">
              <div class="employee_detail">
                <h2 class="heading">Name</h2>
                <p class="paragraph_grey employee_desc">Description</p>
                <p class="paragraph_grey employee_skill">Web development</p>
              </div>
              </div>
            <div class="employee_option">
              <button class="button_rect-small">Hire</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div>
        </div>
      </div>
    </section>

{{> footer}}