
{{> header}}

{{> navbar}}

    <!-- Graduate Section -->
    <section class="graduate">
      <h1 class="heading_pink">Graduate</h1>
      
     <div class="graduate_container">
       <div class="graduate_container-links">
         <a href="/cgraduate"><h2 class="subheading_blue" style="font-size: 2rem;">College graduate</h2></a>
         <a href="/pgraduate"><h2 class="subheading_blue" style="font-size: 2rem;">Post graduate</h2></a>
      </div>
      <div class="graduate_container-image"><img src="/images/Graduate.jpg" alt="Graduate"></div>
     </div>
     <a href="" style="padding: 2rem;"><h2 style="font-size: 2rem;">Explore careers , jobs and more..</h2></a>
    </section>
          
    
        <!-- Footer -->
    {{> footer}}