
  {{> header}}
{{> navbar}}
<section>
         <center><h1 class="heading_pink">Personality development tips</h1></center>

          <section class="chain">
          <ul class="chain_list">
            <li class="chain_list-item">TIP 1</li>
            <li class="chain_list-item">TIP 2</li>
            <li class="chain_list-item">TIP 3</li>
            <li class="chain_list-item">TIP 4</li>
            <li class="chain_list-item">TIP 5</li>
             <li class="chain_list-item">TIP 6</li>
              <li class="chain_list-item">TIP 7</li>
          </ul>
        </section>
        </section>
{{> footer}}