

{{> header}}
{{> navbar}}

<!-- Highschool  -->
<section class='highschool'>
  <h1 class='heading_pink'>High school student</h1>

  <div class='highschool_container'>
    <div class='highschool_container-left'>
      <p class='paragraph_grey'>Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Laudantium nostrum voluptatum, quibusdam illum dolore
        reiciendis assumenda corporis.Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Laudantium nostrum voluptatum, quibusdam illum dolore
        reiciendis assumenda corporisvelit beatae dolor quidem error doloribus
        excepturi dicta eligendi sed neque maiores at!.</p>
    </div>
    <div class='highschool_container-right'>
      <img src="images/HighSchoolStudent.jpg" alt="">
    </div>
  </div>

  <div class='highschool_links'>
    <a href='/highschool_pdt'><h2 class='subheading_blue'>Personality Development</h2></a>
    <a href='/highschool_advice'><h2 class='subheading_blue'>Advices</h2></a>
    <a href='/highschool_wtd'><h2 class='subheading_blue'>What to do after 12th?</h2></a>
  </div>

</section>

<!-- Footer -->

{{> footer}}