
{{> header}}
{{> navbar}}
    <!-- Post Graduate Section -->
    <section class="pgraduate">
      <h1 class="heading_pink">Post Graduate</h1>
     <div class="pgraduate_container">
        <div class="pgraduate_container-left">
        <p class="paragraph_grey">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente vero animi fugiat cupiditate asperiores mollitia, eos temporibus voluptatem atque distinctio, incidunt placeat tempore reiciendis veritatis quisquam, molestiae tenetur laboriosam consequatur!
        </p>
      </div>
      <div class="pgraduate_container-right"><img src="/images/Graduate.jpg" alt="pgraduate"></div>
      <div class="pgraduate_container-options">
       <h2 class="subheading" style="font-size: 2rem;">Career options</h2>
      </div>
     </div>

     </div>
    </section>

    {{> footer}}