

{{> header}}
<!-- Navbar  -->
{{> navbar}}

<!-- School  -->
<section class='school'>
  <h1 class='heading_pink'>School student</h1>

  <div class='school_container'>
    <div class='school_container-left'>
      <p class='paragraph_grey'><strong style="font-size:30px;">Those</strong> twelve years of schooling are sufficient enough to shape the next sixty years of your life, they say. Well indeed. School acts as a pillar for students to stay strong throughout their entire life. They are completely influenced by the lessons, the teachings and the knowledge garnered during the unforgettable school life.<br>
Class 10th is undoubtedly one of the most relevant standards of formal education. It’s that time of life when one undergoes turbulent hormonal and psychological changes, thereby marking the onset of adulthood. With power comes knowledge and with time, wisdom.<br> 
The level and complexity of subjects brings seriousness and a sense of responsibility among students. Students tend to become more mature and stable. The most distinguishing feature of class 10 Board exams is that they are the first nationalised external exam for school goers.
</p>
    </div>
    <div class='school_container-right'>
      <img src="/images/SchoolStudent.jpg" alt="">
    </div>
    <div class="school_container-content">
     <p class="paragraph_grey">The thought of taking the board exams gives students nightmares. They are as much scared of board exams as they are kicked about their 16th birthday. However, in the end, it’s always sheer hard work that pays for life. These exams play a significant role for those who plan to move to a different school in class 11th. Class 10th results act as a deciding factor during the admission process. It also forms an important part of resume and acts as an indicator of student’s academic performance.Â  Many prestigious colleges and universities assign separate grade points to class 10th marks and heavily rely on them while granting admission to the students.<br><br>
Students study various subjects till class 10th only because they are required to choose a specialised stream thereafter. Hence, class 10 is a career shaper, a game changer. Students study all the subjects thoroughly and try to figure out their interests. Based on that and their performance in exams, they decide which stream to opt for. This is how class 10th helps students in sorting their choices and decision-making, thus enlightening the path to successful careers.<br><br>
The content of all the subjects has its own significance. Students need to know a bit of every field and this knowledge makes them develop and grow infinitely; makes them sensible and responsible citizens. Thus creating a vision to achieve what seems impossible. No matter how much students dislike this standard and the board exam, when they grow up they truly realise the importance of standard 10th. Nothing can ever undermine its value in one’s life. <br><br>
Please go through these pages for more information&darr;
</p>

    </div>
  </div>

  <div class='school_links'>
    <a href='/school_pdt'><h2 class='subheading_blue'>Personality Development</h2></a>
    <a href='/school_advice'><h2 class='subheading_blue'>Advices</h2></a>
    <a href='/school_wtd'><h2 class='subheading_blue'>What to do after 10th?</h2></a>
  </div>

</section>

<!-- Footer -->

{{> footer}}