
{{> header}}

  {{!--  Navbar  --}}
    {{> navbar}}
    <!-- Freelancer Section -->
    <section class="freelancer">
      <h1 class="heading_pink">Freelancer</h1>
     <div class="freelancer_container">
        <div class="freelancer_container-left">
        <p class="paragraph_grey">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente vero animi fugiat cupiditate asperiores mollitia, eos temporibus voluptatem atque distinctio, incidunt placeat tempore reiciendis veritatis quisquam, molestiae tenetur laboriosam consequatur!
        </p>
      </div>
      <div class="freelancer_container-right"><img src="/images/freelancer.jpg" alt="freelancer"></div>
      <div class="freelancer_container-links">
        <h2 class="subheading" style="font-size: 2rem;">See jobs</h2>
        <a href=""><h3 class="subheading_grey">List of all freelancing job provided by clients.</h3></a>
      </div>
      <div class="freelancer_container-links">
        <h2 class="subheading" style="font-size: 2rem;">Popular sites</h2>
        <a href=""><h3 class="subheading_grey">FIVERR</h3></a><br>
        <a href=""><h3 class="subheading_grey">FREELANCER</h3></a><br>
        <a href=""><h3 class="subheading_grey">UPWORK</h3></a>
      </div>
     </div>

     </div>
    </section>
          
<!-- Footer -->
{{> footer}}