{{> header}}
{{> navbar}}

{{!-- Jobs Section --}}
    <section class="jobs">
        <center>
            <h1 class="heading_pink">Jobs</h1></br>
            <h2 class="subheading_blue">Find the work, which you like!</h2>
        </center>

       <div class=" jobs_container">
        <div class=" jobs_searchbar">
          <div class='navbar_search'>
          <input
            type='text'
            name='search-bar'
            placeholder='Search...'
            maxlength='15'
            class=" jobs_container-search"
            
          />
          <a href=''><i
              data-feather='search'
              class='navbar_search-icon'
            ></i></a>
            </div>
        <div class=" jobs_filter">
            <!-- to be implemented -->
        </div>
        </div>
        <div class=" jobs_list">
          <div class="jobs_list-item box_shadow">
            <div class=" jobs_overview">
              <img src="" alt="" class=" jobs_image">
              <div class=" jobs_detail">
                <h2 class="heading jobs_title">Software Developer</h2>
                <p class="paragraph_grey  jobs_company">Google</p>
                <p class="paragraph_grey  jobs_desc">...</p>
              </div>
              </div>
            <div class="jobs_option">
              <button class="button_rect-small">Apply</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div>
         <div class="jobs_list-item box_shadow">
            <div class=" jobs_overview">
              <img src="" alt="" class=" jobs_image">
              <div class=" jobs_detail">
                <h2 class="heading jobs_title">Software Developer</h2>
                <p class="paragraph_grey  jobs_company">Google</p>
                <p class="paragraph_grey  jobs_desc">...</p>
              </div>
              </div>
            <div class="jobs_option">
              <button class="button_rect-small">Apply</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div><div class="jobs_list-item box_shadow">
            <div class=" jobs_overview">
              <img src="" alt="" class=" jobs_image">
              <div class=" jobs_detail">
                <h2 class="heading jobs_title">Software Developer</h2>
                <p class="paragraph_grey  jobs_company">Google</p>
                <p class="paragraph_grey  jobs_desc">...</p>
              </div>
              </div>
            <div class="jobs_option">
              <button class="button_rect-small">Apply</button>
              <button class="button_rect-small">More</button>
            
            </div>
          </div>
      </div>
      
      </div>
    </section>
{{> footer}}