
{{> header}}

{{> navbar}}
    <!-- Recruiter Section -->
    <section class="recruiter">
      <h1 class="heading_pink">Recruiter</h1>
     <div class="recruiter_container">
        <div class="recruiter_container-left">
        <p class="paragraph_grey">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente vero animi fugiat cupiditate asperiores mollitia, eos temporibus voluptatem atque distinctio, incidunt placeat tempore reiciendis veritatis quisquam, molestiae tenetur laboriosam consequatur!
        </p>
      </div>
      <div class="recruiter_container-right"><img src="/images/Recruiter.jpg" alt="recruiter"></div>
      
     </div>
      <div class="recruiter_container-links">
        <a href="/jobpost"><button class="button_rect-small">Post a job</button></a>
        <a href="/employee"><button class="button_rect-small">Hire</button></a>
      </div>
 
    </section>
          
    
        <!-- Footer -->
    {{> footer}}